# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = nba_scores.settings

[scrapyd]
application = herokuify_scrapyd.app.application

[deploy:local]
url = https://murmuring-reaches-84629.herokuapp.com/
project = nba_scores
